@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap');

:root
{
    --clr-main: rgba(192,216,96,1);
    --clr-black: rgba(38,38,38,1);
    --clr-white: #fff;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Roboto", sans-serif;
    background-color: var(--clr-black);
}

section
{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 40vh;
    padding-top: 150px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(38,38,38,1);
}

section .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(192,216,96,1);
    clip-path: circle(65% at right -30%);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    max-width: 80px;
    display: block;
}

header .logo2
{
    position: relative;
    max-width: 80px;
    display: none;
}


header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none;
}

header .navigation li a
{
    cursor: pointer;
    display: inline-block;
    color: rgba(38,38,38,1);
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
}

.content .textBox
{
    top: -100px;
    margin-top: -100px;
    position: relative;
    max-width: 600px;
    margin-right: 10px;
}

.content .textBox h1
{
    color: rgba(192,216,96,1);
    font-size: 6em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p
{   
    color: rgba(192,216,96,1);
    margin-top: -5%;
    font-size: 35px;
    font-weight: 100;
}

.content .textBox a
{
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
    padding: 15px 55px;
    background: rgba(192,216,96,1);
    color: rgba(38,38,38,1);
    border-radius: 40px;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
}



/** SLIDER **/

.swiper-container
{
    width: 210%;
    padding-top: -30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 950px;
    height: 450px;
    display: flex;
    justify-content: center;
}

.content .imgBox
{
    width: 750px;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img
{
    max-width: 800px;
}

.swiper-slide img
{
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right
{
    background-image: none;
}




/* Follow */
.follow 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(192,216,96,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 90px;
    padding-top: 10rem;
    min-height: 5vh;
    background-color: var(--clr-black);
}
  

.follow img
{
    margin-left: 8rem;
    border-radius: 3px;
    
}

.follow img:hover
{
    opacity: 80%;
    
}


/* Links */
.links 
{
    background: #313131;
    color: rgba(192,216,96,1);
    font-size: 12px;
    padding: 55px 0;
    background-color: var(--clr-black);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.links-inner 
{
    max-width: 65%;
    margin: 0 auto;
    padding-left: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1rem);
    grid-gap: 5%;
    align-items: flex-start;
    justify-content: center;
}
  
.links li  
{
    line-height: 2.8;
}

.links  
a
{
    color: rgb(156, 156, 156);
}
 


/*********** FOOTER ************/


.footer 
{
    background: var(--clr-black);
    color: rgba(192,216,96,1);
    font-size: 12px;
    padding-left: 27%;
    max-width: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-inner 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div 
{
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.footer div i 
{
    margin-right: 10px;
}


.footer ul 
{
    display: flex;
    flex-wrap: wrap;
    
}

.footer li 
{
    margin-right: 30px;
    margin-bottom: 20px;
    
}

.footer  a
{
    color: rgb(156, 156, 156);
    
}


/*Footer*/

.links .links-inner 
{
    grid-template-columns: repeat(4, 1fr);
    

}
