.mediaViewInfo {
    --web-view-name: Página Principal;
    --web-view-id: Pgina_Principal;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Pgina_Principal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Pgina_Principal {
    position: absolute;
    width: 1920px;
    height: 3428px;
    background-color: rgba(38,38,38,1);
    overflow: hidden;
    --web-view-name: Página Principal;
    --web-view-id: Pgina_Principal;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Header {
    position: absolute;
    width: 1257px;
    height: 311px;
    left: 59px;
    top: 135px;
    overflow: visible;
}
#GreenWheels {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 1178px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 229px;
    color: rgba(192,216,96,1);
}
#Si_quieres_llegar_lejos_hazlo_ {
    left: 0px;
    top: 228px;
    position: absolute;
    overflow: visible;
    width: 1258px;
    height: 83px;
    line-height: 115px;
    margin-top: -25px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 65px;
    color: rgba(192,216,96,1);
}
#Boton_Inicio_sesin {
    position: absolute;
    width: 1307px;
    height: 171px;
    left: 59px;
    top: 534px;
    overflow: visible;
}
#Rectngulo_4 {
    fill: rgba(192,216,96,1);
}
.Rectngulo_4 {
    position: absolute;
    overflow: visible;
    width: 996px;
    height: 171px;
    left: 0px;
    top: 0px;
}
#YA_SOY_CLIENTE {
    left: 50px;
    top: 44px;
    position: absolute;
    overflow: visible;
    width: 1258px;
    height: 83px;
    line-height: 115px;
    margin-top: -25px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    color: rgba(38,38,38,1);
}
#VEHICULO {
    position: absolute;
    width: 1944px;
    height: 1094px;
    left: 622px;
    top: -1px;
    overflow: visible;
}
#Rectngulo_5 {
    fill: rgba(192,216,96,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_5 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 52px;
    left: 0px;
    top: 0px;
}
#GreenWheels_q {
    left: 108px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 148px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Servicios {
    left: 295px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 104px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Accede {
    left: 438px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#VEHICULO_t {
    position: absolute;
    width: 81px;
    height: 46px;
    left: 59px;
    top: 8px;
    overflow: visible;
}
#Publicados_recientemente {
    left: 148px;
    top: 1043px;
    position: absolute;
    overflow: visible;
    width: 1258px;
    height: 83px;
    line-height: 115px;
    margin-top: -25px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    color: rgba(192,216,96,1);
}
#An_no_estas_registrado_Da_clic {
    left: 109px;
    top: 725px;
    position: absolute;
    overflow: hidden;
    width: 1258px;
    height: 29px;
    line-height: 115px;
    margin-top: -42.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(192,216,96,1);
}
#Marca_auto {
    position: absolute;
    width: 1769px;
    height: 96px;
    left: 76px;
    top: 872px;
    overflow: visible;
}
#Rectngulo_6 {
    fill: rgba(255,255,255,1);
}
.Rectngulo_6 {
    position: absolute;
    overflow: visible;
    width: 1769px;
    height: 69px;
    left: 0px;
    top: 0px;
}
#Dgite_una_Marca_Modelo_o_ID_de {
    left: 68px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 1258px;
    height: 83px;
    line-height: 115px;
    margin-top: -40px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(38,38,38,1);
}
#Filtros {
    position: absolute;
    width: 122px;
    height: 69px;
    left: 1181px;
    top: 872px;
    overflow: visible;
}
#My_project-2 {
    opacity: 0.5;
    position: absolute;
    width: 122px;
    height: 69px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#My_project-2_1 {
    position: absolute;
    width: 153px;
    height: 86px;
    left: 17px;
    top: 1036px;
    overflow: visible;
}
#Boton_Ordenar {
    position: absolute;
    width: 1662px;
    height: 2273px;
    left: 139px;
    top: 882px;
    overflow: visible;
}
#Rectngulo_11 {
    opacity: 0;
    fill: rgba(242,242,242,1);
}
.Rectngulo_11 {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 330px;
    left: 1164px;
    top: 0px;
}
#Rectngulo_10 {
    fill: rgba(255,255,255,1);
}
.Rectngulo_10 {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 53px;
    left: 1164px;
    top: 0px;
}
#Ordenar_por_ms_reciente {
    left: 1189px;
    top: 9px;
    position: absolute;
    overflow: visible;
    width: 474px;
    height: 35px;
    line-height: 115px;
    margin-top: -42.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(38,38,38,1);
}
#menor_precio {
    opacity: 0;
    left: 1189px;
    top: 49px;
    position: absolute;
    overflow: visible;
    width: 474px;
    height: 35px;
    line-height: 115px;
    margin-top: -42.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(38,38,38,1);
}
#mayor_precio {
    opacity: 0;
    left: 1189px;
    top: 106px;
    position: absolute;
    overflow: visible;
    width: 474px;
    height: 35px;
    line-height: 115px;
    margin-top: -42.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(38,38,38,1);
}
#ao_descendente {
    opacity: 0;
    left: 1189px;
    top: 163px;
    position: absolute;
    overflow: visible;
    width: 474px;
    height: 35px;
    line-height: 115px;
    margin-top: -42.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(38,38,38,1);
}
#ao_ascendente {
    opacity: 0;
    left: 1189px;
    top: 220px;
    position: absolute;
    overflow: visible;
    width: 474px;
    height: 35px;
    line-height: 115px;
    margin-top: -42.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(38,38,38,1);
}
#ms_antiguo {
    opacity: 0;
    left: 1189px;
    top: 277px;
    position: absolute;
    overflow: visible;
    width: 474px;
    height: 35px;
    line-height: 115px;
    margin-top: -42.5px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(38,38,38,1);
}
#Elipse_1 {
    fill: rgba(140,140,140,1);
}
.Elipse_1 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 1598px;
    top: 7px;
}
#My_project-1_7 {
    position: absolute;
    width: 88px;
    height: 50px;
    left: 1574px;
    top: 4px;
    overflow: visible;
}
#Veh_Ordenados {
    position: absolute;
    width: 1662px;
    height: 1907px;
    left: 0px;
    top: 366px;
    overflow: visible;
}
#Veh_1 {
    position: absolute;
    width: 498px;
    height: 545px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectngulo_8 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_8 {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 535px;
    left: 0px;
    top: 0px;
}
#Grupo_de_desplazamiento_1 {
    mix-blend-mode: normal;
    position: absolute;
    width: 440px;
    height: 272px;
    left: 26px;
    top: 153px;
    overflow: hidden;
}
#Imagen_2 {
    position: absolute;
    width: 440px;
    height: 330px;
    left: 0px;
    top: -48px;
    overflow: visible;
}
#Hace_2_das {
    opacity: 0.45;
    left: 26px;
    top: 21px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 26px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Mini_Cooper {
    left: 26px;
    top: 440px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -35px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(38,38,38,1);
}
#n_0800000 {
    left: 26px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -23px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    color: rgba(38,38,38,1);
}
#n_012__85000_Km {
    opacity: 0.45;
    left: 28px;
    top: 493px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 34px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Rectngulo_9 {
    fill: rgba(242,242,242,1);
}
.Rectngulo_9 {
    display: none;
    position: absolute;
    overflow: visible;
    width: 438px;
    height: 78px;
    left: 26px;
    top: 545px;
}
#My_project-1_6 {
    display: none;
    position: absolute;
    width: 398px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#My_project-1_5 {
    display: none;
    position: absolute;
    width: 398.222px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#Veh_2 {
    position: absolute;
    width: 498px;
    height: 545px;
    left: 582px;
    top: 0px;
    overflow: visible;
}
#Rectngulo_8_bq {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_8_bq {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 535px;
    left: 0px;
    top: 0px;
}
#Hace_2_das_br {
    opacity: 0.45;
    left: 26px;
    top: 21px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 26px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Chevrolet_Captiva_Mt {
    left: 26px;
    top: 440px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -35px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(38,38,38,1);
}
#n_05500000_ {
    left: 26px;
    top: 60px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -23px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    color: rgba(38,38,38,1);
}
#n_020__32000_Km {
    opacity: 0.45;
    left: 28px;
    top: 493px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 34px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Rectngulo_9_bv {
    fill: rgba(242,242,242,1);
}
.Rectngulo_9_bv {
    display: none;
    position: absolute;
    overflow: visible;
    width: 438px;
    height: 78px;
    left: 26px;
    top: 545px;
}
#My_project-1_6_bw {
    display: none;
    position: absolute;
    width: 398px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#My_project-1_5_bx {
    display: none;
    position: absolute;
    width: 398.222px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#Grupo_de_desplazamiento_19 {
    mix-blend-mode: normal;
    position: absolute;
    width: 440px;
    height: 272px;
    left: 26px;
    top: 153px;
    overflow: hidden;
}
#Imagen_11 {
    position: absolute;
    width: 440px;
    height: 293px;
    left: 0px;
    top: -21px;
    overflow: visible;
}
#Veh_3 {
    position: absolute;
    width: 498px;
    height: 545px;
    left: 1164px;
    top: 0px;
    overflow: visible;
}
#Rectngulo_8_b {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_8_b {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 535px;
    left: 0px;
    top: 0px;
}
#Hace_4_das {
    opacity: 0.45;
    left: 26px;
    top: 21px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 26px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Renault_Sandero {
    left: 26px;
    top: 440px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -35px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(38,38,38,1);
}
#n_9500000 {
    left: 26px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -23px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    color: rgba(38,38,38,1);
}
#n_023__3000_Km {
    opacity: 0.45;
    left: 28px;
    top: 493px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 34px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Rectngulo_9_b {
    fill: rgba(242,242,242,1);
}
.Rectngulo_9_b {
    display: none;
    position: absolute;
    overflow: visible;
    width: 438px;
    height: 78px;
    left: 26px;
    top: 545px;
}
#My_project-1_6_b {
    display: none;
    position: absolute;
    width: 398px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#My_project-1_5_b {
    display: none;
    position: absolute;
    width: 398.222px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#Grupo_de_desplazamiento_20 {
    mix-blend-mode: normal;
    position: absolute;
    width: 440px;
    height: 272px;
    left: 26px;
    top: 153px;
    overflow: hidden;
}
#Imagen_16 {
    position: absolute;
    width: 440px;
    height: 311px;
    left: 0px;
    top: -19px;
    overflow: visible;
}
#Veh_4 {
    position: absolute;
    width: 498px;
    height: 545px;
    left: 0px;
    top: 681px;
    overflow: visible;
}
#Rectngulo_8_cc {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_8_cc {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 535px;
    left: 0px;
    top: 0px;
}
#Hace_5_das {
    opacity: 0.45;
    left: 26px;
    top: 21px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 26px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Chevrolet_Spark {
    left: 26px;
    top: 440px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -35px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(38,38,38,1);
}
#n_5800000 {
    left: 26px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -23px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    color: rgba(38,38,38,1);
}
#n_019__45000_Km {
    opacity: 0.45;
    left: 28px;
    top: 493px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 34px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Rectngulo_9_ch {
    fill: rgba(242,242,242,1);
}
.Rectngulo_9_ch {
    display: none;
    position: absolute;
    overflow: visible;
    width: 438px;
    height: 78px;
    left: 26px;
    top: 545px;
}
#My_project-1_6_ci {
    display: none;
    position: absolute;
    width: 398px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#My_project-1_5_cj {
    display: none;
    position: absolute;
    width: 398.222px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#Grupo_de_desplazamiento_21 {
    mix-blend-mode: normal;
    position: absolute;
    width: 440px;
    height: 272px;
    left: 26px;
    top: 153px;
    overflow: hidden;
}
#Imagen_15 {
    position: absolute;
    width: 440px;
    height: 277px;
    left: 2px;
    top: -5px;
    overflow: visible;
}
#Veh_5 {
    position: absolute;
    width: 498px;
    height: 545px;
    left: 582px;
    top: 681px;
    overflow: visible;
}
#Rectngulo_8_cn {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_8_cn {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 535px;
    left: 0px;
    top: 0px;
}
#Hace_6_das {
    opacity: 0.45;
    left: 26px;
    top: 21px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 26px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Toyota_Hilux {
    left: 26px;
    top: 440px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -35px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(38,38,38,1);
}
#n_6000000_ {
    left: 26px;
    top: 60px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -23px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    color: rgba(38,38,38,1);
}
#n_003__229000_Km {
    opacity: 0.45;
    left: 28px;
    top: 493px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 34px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Rectngulo_9_cs {
    fill: rgba(242,242,242,1);
}
.Rectngulo_9_cs {
    display: none;
    position: absolute;
    overflow: visible;
    width: 438px;
    height: 78px;
    left: 26px;
    top: 545px;
}
#My_project-1_6_ct {
    display: none;
    position: absolute;
    width: 398px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#My_project-1_5_cu {
    display: none;
    position: absolute;
    width: 398.222px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#Grupo_de_desplazamiento_22 {
    mix-blend-mode: normal;
    position: absolute;
    width: 440px;
    height: 272px;
    left: 26px;
    top: 153px;
    overflow: hidden;
}
#Imagen_19 {
    position: absolute;
    width: 441px;
    height: 331px;
    left: -1px;
    top: -29px;
    overflow: visible;
}
#Veh_6 {
    position: absolute;
    width: 498px;
    height: 545px;
    left: 1164px;
    top: 681px;
    overflow: visible;
}
#Rectngulo_8_cy {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_8_cy {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 535px;
    left: 0px;
    top: 0px;
}
#Hace_10_das {
    opacity: 0.45;
    left: 26px;
    top: 21px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 26px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Changan_Mini_Van {
    left: 26px;
    top: 440px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -35px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(38,38,38,1);
}
#n_4000000_ {
    left: 26px;
    top: 60px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -23px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    color: rgba(38,38,38,1);
}
#n_023__13000_Km {
    opacity: 0.45;
    left: 28px;
    top: 493px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 34px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Rectngulo_9_c {
    fill: rgba(242,242,242,1);
}
.Rectngulo_9_c {
    display: none;
    position: absolute;
    overflow: visible;
    width: 438px;
    height: 78px;
    left: 26px;
    top: 545px;
}
#My_project-1_6_c {
    display: none;
    position: absolute;
    width: 398px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#My_project-1_5_c {
    display: none;
    position: absolute;
    width: 398.222px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#Grupo_de_desplazamiento_23 {
    mix-blend-mode: normal;
    position: absolute;
    width: 440px;
    height: 272px;
    left: 26px;
    top: 153px;
    overflow: hidden;
}
#Imagen_18 {
    position: absolute;
    width: 440px;
    height: 330px;
    left: 0px;
    top: -29px;
    overflow: visible;
}
#Veh_7 {
    position: absolute;
    width: 498px;
    height: 545px;
    left: 0px;
    top: 1362px;
    overflow: visible;
}
#Rectngulo_8_c {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_8_c {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 535px;
    left: 0px;
    top: 0px;
}
#Hace_15_das {
    opacity: 0.45;
    left: 26px;
    top: 21px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 26px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Mazda_2 {
    left: 26px;
    top: 440px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -35px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(38,38,38,1);
}
#n_7600000 {
    left: 26px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -23px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    color: rgba(38,38,38,1);
}
#n_015__51000_Km {
    opacity: 0.45;
    left: 28px;
    top: 493px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 34px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Rectngulo_9_de {
    fill: rgba(242,242,242,1);
}
.Rectngulo_9_de {
    display: none;
    position: absolute;
    overflow: visible;
    width: 438px;
    height: 78px;
    left: 26px;
    top: 545px;
}
#My_project-1_6_df {
    display: none;
    position: absolute;
    width: 398px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#My_project-1_5_dg {
    display: none;
    position: absolute;
    width: 398.222px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#Grupo_de_desplazamiento_24 {
    mix-blend-mode: normal;
    position: absolute;
    width: 440px;
    height: 272px;
    left: 26px;
    top: 153px;
    overflow: hidden;
}
#Imagen_20 {
    position: absolute;
    width: 440px;
    height: 276px;
    left: 0px;
    top: -2px;
    overflow: visible;
}
#Veh_8 {
    position: absolute;
    width: 498px;
    height: 545px;
    left: 582px;
    top: 1362px;
    overflow: visible;
}
#Rectngulo_8_dk {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_8_dk {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 535px;
    left: 0px;
    top: 0px;
}
#Hace_16_das {
    opacity: 0.45;
    left: 26px;
    top: 21px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 26px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Daewoo_Tico {
    left: 26px;
    top: 440px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -35px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(38,38,38,1);
}
#n_400000 {
    left: 26px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -23px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    color: rgba(38,38,38,1);
}
#n_998__232592_Km {
    opacity: 0.45;
    left: 28px;
    top: 493px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 34px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Rectngulo_9_dp {
    fill: rgba(242,242,242,1);
}
.Rectngulo_9_dp {
    display: none;
    position: absolute;
    overflow: visible;
    width: 438px;
    height: 78px;
    left: 26px;
    top: 545px;
}
#My_project-1_6_dq {
    display: none;
    position: absolute;
    width: 398px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#My_project-1_5_dr {
    display: none;
    position: absolute;
    width: 398.222px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#Grupo_de_desplazamiento_25 {
    mix-blend-mode: normal;
    position: absolute;
    width: 442px;
    height: 272px;
    left: 24px;
    top: 153px;
    overflow: hidden;
}
#Imagen_21 {
    position: absolute;
    width: 442px;
    height: 332px;
    left: 0px;
    top: -30px;
    overflow: visible;
}
#Veh_9 {
    position: absolute;
    width: 498px;
    height: 545px;
    left: 1164px;
    top: 1362px;
    overflow: visible;
}
#Rectngulo_8_dv {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_8_dv {
    position: absolute;
    overflow: visible;
    width: 498px;
    height: 535px;
    left: 0px;
    top: 0px;
}
#Hace_20_das {
    opacity: 0.45;
    left: 26px;
    top: 21px;
    position: absolute;
    overflow: hidden;
    width: 439px;
    height: 26px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Ford_Fiesta {
    left: 26px;
    top: 440px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -35px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: rgba(38,38,38,1);
}
#n_6500000 {
    left: 26px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 105px;
    line-height: 115px;
    margin-top: -23px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 69px;
    color: rgba(38,38,38,1);
}
#n_015__90000_Km {
    opacity: 0.45;
    left: 28px;
    top: 493px;
    position: absolute;
    overflow: visible;
    width: 439px;
    height: 34px;
    line-height: 115px;
    margin-top: -45px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(38,38,38,1);
}
#Rectngulo_9_d {
    fill: rgba(242,242,242,1);
}
.Rectngulo_9_d {
    display: none;
    position: absolute;
    overflow: visible;
    width: 438px;
    height: 78px;
    left: 26px;
    top: 545px;
}
#My_project-1_6_d {
    display: none;
    position: absolute;
    width: 398px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#My_project-1_5_d {
    display: none;
    position: absolute;
    width: 398.222px;
    height: 224px;
    left: 47px;
    top: 472px;
    overflow: visible;
}
#Grupo_de_desplazamiento_26 {
    mix-blend-mode: normal;
    position: absolute;
    width: 442px;
    height: 272px;
    left: 24px;
    top: 153px;
    overflow: hidden;
}
#Imagen_22 {
    position: absolute;
    width: 442px;
    height: 295px;
    left: 0px;
    top: -11px;
    overflow: visible;
}


