
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,600&display=swap');


*
{
  margin: 0;
}

body
{
  font-family: 'Rubik', sans-serif;
}

$light: #ffff;
$green: #f6ffd2;

.flex
{
  display: flex;
}

.navbar
{
  background-color: slight;
  padding: 1rem 2rem;
  border-bottom: 1px solid #f6ffd2 ;
}

.sidebar
{
  width: 20rem;
  height: calc(100vh - 52px);
  border-right: 1px solid $green;
  background-color: #C0D860;
  ul 
  {
    list-style: none;
    padding: 1rem 2rem;
    li 
    {
      margin-bottom: 1rem;
      a
      {
        text-decoration: none;
        color: #515151;
        &.active
        {
          background-color: #ffffff;
        }
      }
    }
  }
}